/**
Нормализация блочной модели
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
*/
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
*/
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
*/
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
*/
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
*/
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
*/
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Наследуем свойства шрифт для полей ввода
*/
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
    Плавный скролл
  */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
Приводим к единому цвету svg-элементы
*/
svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }

/**
Чиним баг задержки смены цвета при взаимодействии с svg-элементами
*/
svg * {
  transition-property: fill, stroke;
}

 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
   * {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
}

:root {
  --color-blue: #4294FF;
  --color-blue-hover: #2277e5;
  --color-gray: #F1F1F1;
  --color-gray-hover: #c2c2c2;
  --color-gray-text: #727272;
  --color-gray-accent: #343434;
  --color-white: #FFFFFF;
  --color-black: #000000;

  --textarea-height: 200px;
  --history-panel-width: 350px;

  --margin: 25px;

  --border-radius: 15px;
  --border-radius-small: 10px;

  --font-size: 18px;
  --font-size-headline: 32px;
}

body {
  font-family: Arial, sans-serif;
}

.main {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 40px;
  transition: width 0.3s;
}

.main.shifted {
  width: calc(100% - var(--history-panel-width));
}

.main-inner {
  max-width: 700px;
  margin-inline: auto;
  padding-inline: 20px;
}

.headline, .description {
  margin-bottom: var(--margin);
}

.headline {
  font-size: var(--font-size-headline);
  text-align: center;
}

.description {
  color: var(--color-gray-text);  
  text-align: center;
}

.underlined {
  text-decoration: underline;
}

.converter-form {
  margin-bottom: 50px;
}

.converter-input {
  height: var(--textarea-height);
  width: 100%;
  padding: 15px;
  border: 1px solid var(--color-blue);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  resize: none;
}

.symbols-amount {
  margin-bottom: 20px;
  color: var(--color-gray-accent);
  text-align: right;
  font-size: 13px;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 50px;
  column-gap: 15px;
}

.button {
  display: block;
  padding-block: 12px;
  border: none;
  border-radius: var(--border-radius-small);
  background-color: var(--color-blue);
  color: var(--color-white);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.button.gray {
  background-color: var(--color-gray);
  color: var(--color-black);
}

.history-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-field {
  margin-bottom: 50px;
  text-align: center;
  font-size: var(--font-size);
}

.copy-button {
  display: none;
  position: sticky;
  bottom: 20px;
  width: 250px;
  margin-inline: auto;
  padding-inline: 75px;
}

.copy-button.shown {
  display: block;
}

.notification {
  position: fixed;
  top: -70px;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: top 0.3s;
}

.notification.shown {
  top: 13px;
}

.notification-text {
  padding: 10px 15px;
  background-color: var(--color-gray-accent);
  border-radius: var(--border-radius-small);
  color: var(--color-white);
}

.history {
  position: fixed;
  top: 0;
  left: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: var(--history-panel-width);
  background-color: var(--color-white);
  border-left: 1px solid var(--color-gray);
  transition: left 0.3s;
}

.history.shown {
  left: calc(100% - var(--history-panel-width));
}

.history-header {
  padding: 30px 30px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.history-headline {
  font-size: var(--font-size-headline);
}

.close-history-button {
  display: flex;
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--color-black);
  cursor: pointer;
  transition: color 0.3s;
}

.history-body {
  overflow-y: auto;
  overscroll-behavior: none;
}

.history-item {
  padding: 20px 30px;
  transition: all 0.3s;
  cursor: pointer;
}

@media (max-width: 767px) {
  :root {
    --textarea-height: 150px;

    --margin: 20px;

    --font-size: 16px;
    --font-size-headline: 28px;
  }
  
  .main.shifted {
    width: 100%;
  }

  .history {
    width: 100%;
    border: none;
  }
  
  .history.shown {
    left: 0;
  }
}

@media (hover: hover) {
  .button:hover {
    background-color: var(--color-blue-hover);
  }

  .button.gray:hover {
    background-color: var(--color-gray-hover);
  }

  .close-history-button:hover {
    color: var(--color-gray-hover);
  }

  .history-item:hover {
    background-color: var(--color-gray);
  }
}

@media (hover: none) {
  .button:active {
    background-color: var(--color-blue-hover);
  }

  .button.gray:active {
    background-color: var(--color-gray-hover);
  }
}